@use '../abstract/variaveis'; 

footer {
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
    padding: 3rem;
    text-align: center;
    background-color: variaveis.$secondary-opacity;
}

footer div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

footer div:first-child {
    justify-content: flex-end;
}

footer div:not(:first-child) {
    opacity: .7;
    padding-left: 1rem;
    border-left: 2px solid variaveis.$primary-color;

}

footer p {
    margin-bottom: .6rem;
    color: variaveis.$primary-color;
    opacity: .7;
}

footer button {
    border: 3px solid variaveis.$third-color;
    padding: .5rem 1rem;
    background-color: transparent;
    color: variaveis.$third-color;
}

footer button:hover {
    background-color: variaveis.$fourth-color;
    cursor: pointer;
}

footer ul li {
    text-align: start;
    margin-bottom: .5rem;
    list-style: none;
}

footer ul li a {
    color: variaveis.$primary-color;
}

footer a {
    margin: 0 .4rem 0 .4rem;
    text-decoration: none;
}
