@use '../abstract/mixins';
@use '../abstract/variaveis';

main {
    position: relative;
    z-index: 1;
    min-height: 100vh;

    .main__synopsis {
        display: flex;
        position: relative;
        margin-top: -65px;
        z-index: -1;

        .synopsis__text {
            position: relative;
            height: 100vh;
            width: 100%;
            overflow: hidden;

            .arrow-down {
                width: 100%; height: 100%;
                position: absolute;
                top: 0;
                z-index: -98;
                filter: drop-shadow(0 0 5rem variaveis.$secondary-color);
                & img {
                    width: 50%;
                }
            }

            .background-image {
                position: absolute;
                height: 100%; width: 100%;
                top: 0;
                right: 0;
                z-index: -99;
                background-image: url('../../assets/images/background-image-biger.jpg');
                background-size: cover;
                background-position: center;

                & img {
                    width: 50%;
                }

            }

            .text {
                position: relative;
                width: 100%; height: 100%;
                padding: 1.5rem;
                align-content: baseline;

                img {
                    max-width: 30%;
                    min-width: 230px;
                    margin: 5rem 0 4rem 5.5rem;
                }

                p {
                    text-align: justify;
                    max-width: 50%;
                    min-width: 350px;
                    color: variaveis.$primary-color;
                    background-color: variaveis.$secondary-opacity;
                    line-height: 1.3rem;
                    padding: 1rem;
                    border-radius: .5rem;
                }
            }
        }
    }
}

@media (max-width: 650px) {
    main {

        .main__synopsis {
            
            .synopsis__text .text {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
    
                & img {
                    margin: 5rem 0 4rem 0;
                }
            }
        }
    }
}

@media (max-width: 375px) {
    html {
        font-size: 90%;

        main {
            
            .main__synopsis {

                .synopsis__text .text {
                 
                    img {
                        min-width: 200px;
                    }

                    p {
                        min-width: 300px;
                    }
                }
            }
        }
    }
}