// Variables

//Colors
$primary-color: #FFF5E0;
$secondary-color: #141E46;
$third-color: #41B06E;
$fourth-color: #8DECB4;

//colors opacity
$secondary-opacity: rgba(0, 0, 0, .6);

//Fonts
$font-text: 'Montserrat', sans-serif;
$font-title: 'Krona One', sans-serif;